# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Test files
*.testsettings
[Tt]humbs.db

*.o.d
/obj/
*.out
*.tags
*.mk
*.session
.buil
d-debug
.build-release
*.dll
*.exe
*.lib
*.list
*.a
*.ilk
/.svn/
.svn
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.cd
*.sdf
*.ipch
/ipch/
*.exp
boost/
SFML/
log.txt
*.opensdf

#codelite
*.db
*.workspace.*